@model ASPNetCoreMVCSample.Models.Categories 

<div class="row">
    <div class="col-md-3">
        <!-- Form to add a new category, posting the data to the "Add" action method in the controller -->
        <form asp-action="Add" method="post" class="form-horizontal">

            
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label> 
                <input asp-for="Name" class="form-control" /> 
                <span asp-validation-for="Name" class="text-danger"></span> 
            </div>

            <!-- Form group for the Save button -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> 
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        // Render validation scripts to enable client-side validation in the form
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
