@model List<Categories>

@{
    // Check if the user is authenticated and in the Admin or SuperAdmin role
    bool isAuthorized = User.IsInRole("Admin") || User.IsInRole("SuperAdmin");
}

@if (isAuthorized)
{
    <a href="@Url.Action("Add", "Category")" class="btn btn-primary">
        Add Category
    </a>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prodt in Model)
        {
            <tr>
                <td>@prodt.Name</td>
            </tr>
        }
    </tbody>
</table>
