@model List<Categories>

@{
    // Check if the user is authenticated and in the Admin or SuperAdmin role
    bool isAuthorized = User.IsInRole("Admin") || User.IsInRole("SuperAdmin");
}

@if (isAuthorized)
{
    <a href="@Url.Action("Add", "Category")" class="btn btn-primary">
        Add Category
    </a>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Catg in Model)
        {
            <tr>
                <td>@Catg.Name</td>
                
                @if (isAuthorized)
                {
                    
                    <td>
                        <form asp-action="Delete" asp-controller="Category" method="post" onsubmit="return confirmDelete();">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@Catg.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete() {
        return confirm('Are you sure you really want to delete this Product?');
    }
</script>